## Step-by-Step Guide to Using Apriori in Python

### Step 0: Install the mlxtend library

`pip install mlxtend`

### Step 1. Prepare the Dataset

The dataset should be in the form of a one-hot encoded DataFrame, where rows represent transactions, and columns represent items. Each cell indicates whether an item is included in a transaction (1 for present, 0 for absent)

In [3]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

data = {'Milk': [1, 0, 1],
        'Bread': [1, 1, 1],
        'Butter': [0, 1, 0],
        'Eggs': [1, 1, 0]}

df = pd.DataFrame(data)
df

   Milk  Bread  Butter  Eggs
0     1      1       0     1
1     0      1       1     1
2     1      1       0     0

### Step 2. Generate Frequent itemsets

In [6]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets

    support       itemsets
0  0.666667         (Milk)
1  1.000000        (Bread)
2  0.666667         (Eggs)
3  0.666667  (Bread, Milk)
4  0.666667  (Bread, Eggs)

### Step 3. Generate Association Rules

In [8]:
rules = association_rules(frequent_itemsets, num_itemsets=len(df), metric="confidence", min_threshold=0.7)
rules

c:\Users\Asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:182: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

  antecedents consequents  antecedent support  ...   jaccard  certainty  kulczynski
0      (Milk)     (Bread)            0.666667  ...  0.666667        0.0    0.833333
1      (Eggs)     (Bread)            0.666667  ...  0.666667        0.0    0.833333

[2 rows x 14 columns]

"If Milk is purchased, Bread is likely to be purchased too"

"If Eggs is purchased, Bread is likely to be purchased too"